* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #804197;
}

.Secao-Biblioteca {
    color: white;
    background-image: url(https://i.pinimg.com/originals/28/66/b5/2866b58d2e1f2fd4d468512d54714dda.jpg);
}

.logo-esquerda{
    width: 50px;
    height: 50px;
}

.Titulo-inicio{
    color: white;
    font-size: 54px;
    font-weight: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.QuemSomos{
    background-color: #ede2f1;
    font-size: 14px;
}

footer {
    
    font-size: 14px;
    font-weight: bold;
    color: #804197;
    background-color: #ede2f1;
    height: 100px;
}
