*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.caixa-cinza{
    
    background-color: rgba(182, 176, 176, 0.778);
    margin: 3%;
    height: 90%;
    width: 90%;
    display: flex;
}

.caixa-branca{
    background-color: white;
    width: 50%;
   display: flex;
   justify-content: column;
}
/*
h1{
    display: flex;
    background-color: rgba(216, 207, 207, 0.778);
    padding: 15px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

img{
    padding: 10px;
}*/